table{
  background-color: black;
  border: 1px black solid;
}
th{
  background-color: #DDD;
}
td button{
  background-color: white;
  border: none;
}
button:hover {
  background-color: #EEE;
}
button{
  width: 80px;
  height: 50px;
}
.day{
  height: 50px;
  width: 50px;
  border: 1px solid black;
}
.days{
  width: 350px;
  height: 300px;
  border: 3px rebeccapurple solid;
}